Repository hmcts/ccd-message-publisher, pull requests merged in 2021-02, with the labels that each got.

#21 RDM-10818 Set message properties when publishing messages
  src/integrationTest/java/uk/gov/hmcts/ccd/service/MessagePublisherRunnableIT.java
  src/integrationTest/resources/sql/insert-message-property-candidates.sql
  src/main/java/uk/gov/hmcts/ccd/service/MessageProperties.java
  src/main/java/uk/gov/hmcts/ccd/service/MessagePublisherRunnable.java
  src/test/java/uk/gov/hmcts/ccd/service/MessagePublisherRunnableTest.java
  topic-reader-util/.gitignore
  topic-reader-util/README.md
  topic-reader-util/build.gradle
  topic-reader-util/gradle/wrapper/gradle-wrapper.jar
  topic-reader-util/gradle/wrapper/gradle-wrapper.properties
  topic-reader-util/gradlew
  topic-reader-util/gradlew.bat
  topic-reader-util/src/main/java/topic/TopicReader.java
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-21

#30 Update values.aat.template.yaml
  charts/ccd-message-publisher/values.aat.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-30

#31 RDM-11025 initial commit
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-31

#35 RDM-11155 - Align JSON format with data store
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/ccd/service/MessagePublisherRunnableIT.java
  src/integrationTest/resources/sql/insert-message-property-candidates.sql
  src/main/java/uk/gov/hmcts/ccd/config/CcdMessageConverter.java
  src/main/java/uk/gov/hmcts/ccd/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/service/MessageProperties.java
  src/test/java/uk/gov/hmcts/ccd/config/CcdMessageConverterTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-35

#33 RDM-10633 RDM-11139 introduce befta fw
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/ccd-message-publisher/Chart.yaml
  config/owasp/suppressions.xml
  src/aat/java/uk.gov.hmcts.ccd.messagepublisher/befta/EmptySmokeTest.java
  src/aat/java/uk.gov.hmcts.ccd.messagepublisher/befta/MessagePublisherBeftaMain.java
  src/aat/java/uk.gov.hmcts.ccd.messagepublisher/befta/MessagePublisherBeftaRunner.java
  src/aat/java/uk.gov.hmcts.ccd.messagepublisher/befta/MessagePublisherTestAutomationAdapter.java
  src/aat/java/uk.gov.hmcts.ccd.messagepublisher/befta/TestDataLoaderMain.java
  src/aat/resources/DummyTest.xml
  src/aat/resources/features/F-000/F-000.feature
  src/aat/resources/features/F-000/S-000.td.json
  src/main/resources/application.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-33
