Repository hmcts/ccd-message-publisher, pull requests merged in 2021-06, with the labels that each got.

#94 RDM-11097: message publisher revert (postgres v11 db cleanup)
  charts/ccd-message-publisher/values.aat.template.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-94

#104 CCD-1245: Updated CCD definitions to 7.0.0
  build.gradle
  config/owasp/suppressions.xml
  src/aat/java/uk.gov.hmcts.ccd.messagepublisher/befta/MessagePublisherTestAutomationAdapter.java
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-104

#98 CCD-1279 CVE-2021-22118 in CCD Message Publisher
  build.gradle
  charts/ccd-message-publisher/Chart.yaml
  charts/ccd-message-publisher/values.yaml
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-98

#109 CCD-1322: Updated CVE suppression dates
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-109
