Repository hmcts/ccd-message-publisher, pull requests merged in 2022-07, with the labels that each got.

#199 CCD-3448 : Update suppressions.xml (CVE-2022-33915)
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-199

#200 CCD-3434 Upgrade Java, postgresql and redis configurations
  charts/ccd-message-publisher/Chart.yaml
  charts/ccd-message-publisher/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-200

#202 Update Chart.yaml bumping chart to fix ordering issue
  charts/ccd-message-publisher/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-202

#204 CCD-3536: CVE-2022-31569 suppress
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-204

#205 CCD-3561 Upgrade Java and Node JS versions in chart for all the respe…
  charts/ccd-message-publisher/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-205

#203 CCD-3504 Upgrade to latest java plugin - java plugin upgraded to 0.12.27
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-203
