Repository hmcts/ccd-message-publisher, pull requests merged in 2024-04, with the labels that each got.

#284 Update build.gradle
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/service/MessageProperties.java
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-284

#286 Update MessageProperties.java
  src/main/java/uk/gov/hmcts/ccd/service/MessageProperties.java
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-286

#287 Force new build
  src/main/java/uk/gov/hmcts/ccd/service/MessageProperties.java
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-287

#282 CCD-5316
  src/main/java/uk/gov/hmcts/ccd/config/JacksonConfiguration.java
Labels: ns:ccd, prd:ccd, enable_keep_helm, rel:ccd-message-publisher-pr-282

#288 CCD-5316 - Use latest Service Bus library
  build.gradle
  src/main/java/uk/gov/hmcts/ccd/MessagePublisherApplication.java
  src/main/resources/application.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-288

#279 5020 Netty version bump to resolve CVE 34462
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-279

#290 chart-Java version 5.0.0 to 5.2.0 and chart version from 0.1.15 to 0.…
  charts/ccd-message-publisher/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-290
