Repository hmcts/ccd-message-publisher, pull requests merged in 2025-03, with the labels that each got.

#328 CCD-6133:
  config/owasp/suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-328

#329 CCD-6193 update base chart versions
  charts/ccd-message-publisher/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-329

#302 Upgrade to Spring Boot 3.1
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/aat/resources/features/F-000/S-000.td.json
  src/integrationTest/java/uk/gov/hmcts/ccd/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/ccd/service/MessagePublisherRunnableIT.java
  src/integrationTest/resources/application-itest.yml
  src/main/java/uk/gov/hmcts/ccd/config/CcdMessageConverter.java
  src/main/java/uk/gov/hmcts/ccd/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/ccd/data/MessageQueueCandidateEntity.java
  src/main/java/uk/gov/hmcts/ccd/data/MessageQueueCandidateRepository.java
  src/main/java/uk/gov/hmcts/ccd/service/MessagePublisherRunnable.java
  src/main/resources/application-dev.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/ccd/config/CcdMessageConverterTest.java
  src/test/java/uk/gov/hmcts/ccd/config/JacksonConfigurationTest.java
  src/test/java/uk/gov/hmcts/ccd/config/MessagePublisherParamsTest.java
  src/test/java/uk/gov/hmcts/ccd/config/SchedulingConfigurationTest.java
  src/test/java/uk/gov/hmcts/ccd/service/MessagePublisherRunnableTest.java
  topic-reader-util/gradle/wrapper/gradle-wrapper.jar
  topic-reader-util/gradle/wrapper/gradle-wrapper.properties
  topic-reader-util/gradlew
  topic-reader-util/gradlew.bat
Labels: ns:ccd, prd:ccd, rel:ccd-message-publisher-pr-302
